.about {
  background: rgb(29,29,37);
  padding-top: 80px;
  padding-bottom: 40px;
  height: auto;
}

.about p {
  color: rgb(60, 60, 60);
  font-weight: lighter;
}

.about-text {
  background: rgb(235,235,235);
  padding: 18px 42px;
  margin: auto auto;
  box-sizing: border-box;
  color: rgb(29,29,37);
  max-width: 90%;
  line-height: 24px;
}

.skills {
  color: rgb(218,218,218);
  padding: 18px 42px;
  margin: 10px 12px;
  box-sizing: border-box;
  text-align: center;
}

.skills h1 {
  font-size: 34px;
  font-family: 'Palanquin Dark', sans-serif;
}

.skills-lists {
  display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.skill-list {
  list-style: none;
    display: inline-block;
    padding: 0;
    text-align: left;
}

.skill-list li {
  margin-left: 8px;
  font-size: 18px;
  font-weight: lighter;
  
}

.skill-list h3 {
  margin: 0px;
  font-size: 24px;
}

#me {
  font-style: italic;
  color: black;
}