.contact {
  margin: 80px auto;
  padding: 40px;
  height: 300px;
  border-top: 1px lightgrey solid;
  text-align: center;
}

.contact h1 {
  text-align: center;
}

.contact p {
  color: rgb(60, 60, 60);
  font-weight: lighter;
}

.contact-logos {
  margin: auto auto;
  width: 125px;
  font-size: 40px;
  display: flex;
  justify-content: space-between;
}

.contact-icon {
  text-decoration: none;
  color: rgb(27, 27, 37)
}

.contact-icon:hover {
  opacity: .7;
  cursor: pointer;
}