.contact {
  margin: 120px auto;
  padding: 40px;
  padding-top: 70px;
  margin-bottom: 200px;
  height: 300px;
  border-top: 1px lightgrey solid;
  text-align: center;
}

.contact h1 {
  text-align: center;
  font-size: 38px;
}

.contact p {
  color: rgb(60, 60, 60);
  font-weight: lighter;
}

.contact-logos {
  margin: auto auto;
  width: 125px;
  font-size: 40px;
  display: flex;
  justify-content: space-between;
  color: rgb(16,27,59);
}

.contact-icon {
  text-decoration: none;
  color: rgb(27, 27, 37)
}

.contact-icon:hover {
  opacity: .7;
  cursor: pointer;
}