.nav-items {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 20px 40px;
  margin: 0px;
  list-style: none;
  color: darkgray;
  font-style: bolder;
  font-weight: bolder;
}

.nav-item > .active {
  font-weight: bold;
}

.buttons-div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-shrink: 1;
}

.nav-item {
  margin: 0 20px;
}