.nav-items {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 20px 15px;
  margin: 0px;
  list-style: none;
  color: darkgray;
  font-style: bolder;
  font-weight: bolder;
}

.nav-item > .active {
  font-weight: bold;
}

.buttons-div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.nav-item {
  margin: 0 6px;
}

.logo-div {
  font-family: 'Palanquin Dark', sans-serif;
  font-size: 26px;
  color: whitesmoke;
  margin-left: 20px;
}