.body {
  background-color:rgb(248,248,248);
}

.App {
  font-family: 'Palanquin Dark', sans-serif;
  color: rgb(29,29,37);
  
}

h1 {
  margin: 0;
  font-family: 'Palanquin Dark', sans-serif;
}

h2 {
  margin: 0;
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: lighter;
}

h3 {
  font-weight: lighter;
}

p {
  font-family: 'Work Sans', sans-serif;
  font-weight: bolder;
}

li {
  font-family: 'Work Sans', sans-serif;
  font-weight: bolder;
}

a:hover {
  cursor: pointer;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
